AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine : false
BasedOnStyle: WebKit
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 120
PointerBindsToType: false
SpaceBeforeParens: ControlStatements
IncludeBlocks: Regroup
