[submodule "src/comaresources/styles/QDarkStyleSheet"]
	path = src/comaresources/styles/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
	branch = 6ff5fdfd7b1e2a538b6f22bd85dd05a817d24c45
[submodule "src/comaresources/styles/QSS"]
	path = src/comaresources/styles/QSS
	url = https://github.com/GTRONICK/QSS
	branch = master
[submodule "src/comaresources/styles/qss-dracula"]
	path = src/comaresources/styles/qss-dracula
	url = https://github.com/Supremist/qss-dracula
	branch = master
