[submodule "LimeReport"]
	path = LimeReport
	url = https://github.com/fralx/LimeReport
[submodule "xz-utilz"]
	path = xz-utilz
	url = https://github.com/xz-mirror/xz
	branch = v5.2
[submodule "hidapi"]
	path = hidapi
	url = https://github.com/libusb/hidapi
[submodule "QXlsx"]
	path = QXlsx
	url = https://github.com/QtExcel/QXlsx
	branch = master
[submodule "QDarkStyleSheet"]
	path = QDarkStyleSheet
	url = git@github.com:ColinDuquesnoy/QDarkStyleSheet.git
[submodule "widgets/qss-dracula"]
	path = widgets/qss-dracula
	url = https://github.com/Supremist/qss-dracula
[submodule "widgets/QSS"]
	path = widgets/QSS
	url = https://github.com/GTRONICK/QSS
