# Custom ignore rules
/output/*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
**/.qmake.cache
**/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.obj
Makefile*
*build-*
*bin*
*.lib
lib

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# MSVS
**/.vs
*.vcxproj.filters
*.vcxproj.user
*msvc_make.bat
/conan*
/graph_info.json
/src/comaversion/gversion.h
/src/bin*
/src/share*
/src/lib*
/src/include*
/src/out/build
/include
CMakeLists.txt.user*

# Doxygen
/doc/doxy-doc/*
