[submodule "src/widgets/styles/qss-dracula"]
	path = src/widgets/styles/qss-dracula
	url = https://github.com/Supremist/qss-dracula
[submodule "src/widgets/styles/QSS"]
	path = src/widgets/styles/QSS
	url = https://github.com/GTRONICK/QSS
[submodule "src/widgets/styles/QDarkStyleSheet"]
	path = src/widgets/styles/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
[submodule "src/protos/protos"]
	path = src/protos/protos
	url = ../../avm-energo/protos.git
[submodule "src/alise"]
	path = src/alise
	url = ../../avm-energo/alise.git
[submodule "include/qcustomplot"]
	path = include/qcustomplot
	url = ssh://git@git.avmenergo.ru:5507/avm-energo/qcustomplot.git
	branch = main
[submodule "include/gen"]
	path = include/gen
	url = ssh://git@git.avmenergo.ru:5507/avm-energo/gen.git
	branch = main
